build-GUI-Desktop_Qt_5_15_16_for_macOS_Universal-Debug/*
build-GUI-Desktop_Qt_6_6_1_GCC_64bit-Debug
build-GUI-Desktop_Qt_6_6_1_GCC_64bit-Release
GUI/CMakeLists.txt.user
server
.DS_Store
.vscode
client
